* {
  font-family: "Times New Roman", Times, serif;

}
body {
  background-color: rgb(213, 209, 209);
  color: darkblue;
}
.container {
  margin: 20px;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top:  0;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(247, 247, 194);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 20px;
    padding: 5px;
    /* background-color: rgb(243 243 186);; */
    backdrop-filter: blur(8px);
    margin-bottom: 20px;
    z-index: 1000;
 
}

/*nav {

  padding: 5px;
 // background-color: rgb(243 243 186);; 
  border: none;
  margin-bottom: 100px;
}
*/
 .flex-column {
   display: flex;
   flex-direction: column;
 }

 .flex-row {
   display: flex;
   flex-direction: row;
 }
nav  {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 0 20px;
  margin-bottom: 20px;
}
 .header_content {

   display: flex;
   flex-direction: row;
    gap: 40px;

  padding-left: 100px;
  margin-bottom: 2rem;
 }


* .nav_elem {
  padding: 0.8rem;
  color: darkblue;
  font-weight: 800;
  border-radius: 10%;
}
.header_nav a:hover {
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  color: rgb(72, 2, 164);

}
img {
  border-radius: 30%;
}
.wraper {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border-left: 6px solid #6507e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  margin-top: 15px;
  font-size: 1.5rem;
  text-align: center;
}

.main {
  align-content: center;
}
section {
      transition: all 0.3s ease;
        border: 1px solid #6507e1;
        border-radius: 12px;
        margin: 30px 0;
        padding: 15px;
            scroll-margin-top: 300px;
            font-size: 1.1rem;
}

section:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
#skills ul {
  list-style: none;
  justify-content: left;
  gap: 0.8rem;
  padding-left: 0;
  

}
#skills li {
  display: block;
  padding: 0.5rem;
  gap: 1rem
}
li {
    padding: 0.3rem;
}
.connect {
    display: flex;
    flex-direction: column;
    justify-items: auto;

}
.connect_item {
    margin-bottom: 10px;
}
.icon {
  width: 1.2rem;
}

#connect a:visited {
  color: red;
}

#connect a:hover {
  color: rgb(238, 8, 123);
  font-size: 1.2rem;
}


.experience_elem {
  min-width: 180px;

  transition: transform 0.3s ease;
  margin-bottom: 0.5rem;
}

#leaveMessage {
    display: flex;
      flex-direction: column;
      align-items: center;

}

form {
  width: 1/3*width;
  margin: 15px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(9, 6, 6, 0.1);
  font-size: 1.1rem;
    
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.submit  {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.submit:hover, .messageBtn:hover{
  background: #09681b;
}
#footer {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: darkblue;
    margin-bottom: 500px;
}

#messages {
  display: none;
}
.messageBtn {
  width: auto;
  margin-top: 5px;
    padding: 5px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}


#messages li {
  display: flex;
  flex-direction: column;

  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #464545;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 10px rgba(9, 6, 6, 0.1);
  font-size: 1.1rem;
}

.messagesBtnGroup  {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}